@model Proyecto_TiendaElectronica.Models.Articulo;

@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    <section class="get-in-touch">
        <h1 class="title">Editar Artículo</h1>
        <form asp-action="EditarArticulo" method="post" enctype="multipart/form-data" class="contact-form row">
            <input asp-for="ArticuloId" type="hidden" />
            <input asp-for="codigoImagen" type="hidden" />
            
            <div class="col-lg-6">
                <div class="form-field">
                    <input asp-for="Nombre" class="input-text js-input" type="text">
                    <label class="label" asp-for="Nombre">Nombre</label>
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Nombre"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-field">
                    <input asp-for="Precio" class="input-text js-input" type="number">
                    <label class="label" asp-for="Precio">Precio</label>
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Precio"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-field">
                    <input asp-for="Cantidad" class="input-text js-input" type="number">
                    <label class="label" asp-for="Cantidad">Cantidad</label>
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Cantidad"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-field">
                    <input asp-for="Marca" class="input-text js-input" type="text">
                    <label class="label" asp-for="Marca">Marca</label>
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Marca"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-field">
                    <input asp-for="Descripcion" class="input-text js-input" type="text">
                    <label class="label" asp-for="Descripcion">Descripción</label>
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="Descripcion"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-field">
                    <label class="label" asp-for="idCategoria">Categoría</label>
                    <select asp-for="idCategoria" class="input-text js-input">
                        <option value=""></option>
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                            if (categoria.Value == Model.idCategoria.ToString())
                            {
                                <option value="@categoria.Value" selected>@categoria.Text</option>
                            }
                            else
                            {
                                <option value="@categoria.Value">@categoria.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="text-center text-break">
                    <span class="error-form" asp-validation-for="idCategoria"></span>
                </div>
            </div>
            <div class="form-field col-lg-12">
                <input class="submit-btn" type="submit" value="Guardar">
            </div>
        </form>
    </section>
    <a href="@Url.Action("ModificaImagen", new { codigoImagen = Model.codigoImagen, ArticuloID = Model.ArticuloId })" class="btn btn-primary mb-4">
        Modificar Imágenes
    </a>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
