@model List<Factura>

@{
    Layout = "_Layout";
}

@Html.Raw(TempData["SweetAlertScript"])

<h2 class="mb-3 text-center">Facturas</h2>

<div class="admin-element container my-4">

    @if (Model == null || !Model.Any())
    {
        <div class="text-center" >
            No has realizado compras aún.
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table id="table_id" class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Fecha de Compra</th>
                        <th>Monto Total</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var factura in Model)
                    {
                        <tr>
                            <td class="text-center">@factura.FacturaId</td>
                            <td>@factura.FechaCreacion.ToString("dd-MM-yyyy")</td>
                            <td>₡@factura.MontoTotal</td>
                            <td>₡@factura.MontoTotal</td>
                            <td>
                                <a href="@Url.Action("DescargarPDF","Home", new { facturaId = factura.FacturaId })" class="btn btn-success">Descargar Pdf</a>
                            </td>
                            <td>
                                <a href="@Url.Action("VerFactura","Home", new { facturaId = factura.FacturaId })" class="btn btn-success">Descargar Pdf</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
